<div id='info_box'>
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class="form">
    <tr>
        <th><%= f.label :title %></th>
        <td><%= f.text_field :title, :size => 44 %></td>
    </tr>
    <tr>
        <th><%= f.label :description %></th>
        <td><%= f.text_area :description, :size => "45x3" %></td>
    </tr>
    <tr>
        <th><%= f.label :starts_at %></th>
        <td><%= f.datetime_select :starts_at %></td>
    </tr>
    <tr>
        <th><%= f.label :ends_at %></th>
        <td><%= f.datetime_select :ends_at %></td>
    </tr>
    <tr>
        <th><%= f.label :all_day %></th>
        <td><%= f.check_box :all_day %></td>
    </tr>
    <tr>
        <th><%= f.label :person_id %></th>
        <td><%= f.select :person_id, Person.all.map { |p| [p.full_name,p.id] } %></td>
    </tr>
  </table>
  <br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>