<div id="headline">
    <div class="box heading">
        <h1>Listing events</h1>
    </div>
    <div class="box source">
        &nbsp;
    </div>
    <div class="box links">
        <%= link_to "new Event", new_event_path, :class => "actionlink" %>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>


<table class="full">
  <tr>
    <th>Title</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>All day</th>
    <th>Owner</th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.starts_at %></td>
    <td><%= event.ends_at %></td>
    <td><%= event.all_day %></td>
    <td><%= event.person ? event.person.full_name : " - - - " %></td>
    <td class="actions"><%= link_to 'Show', event %> | <%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
