<div id="headline">
    <div class="box heading">
        <h1>Event "<%= @event.title %>"</h1>
    </div>
    <div class="box source">
        &nbsp;
    </div>
    <div class="box links">
        <%= link_to 'Back', events_path, :class => "actionlink" %>
        <%= link_to 'edit Event', edit_event_path(@event), :class => "actionlink" %>
        <%= link_to "new Event", new_event_path, :class => "actionlink" %>
    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

<p id="notice"><%= notice %></p>

<div id='info_box'>
  <table class="form">
    <tr>
        <th>Title:</th>
        <td><%= @event.title %></td>
    </tr>
    <tr>
        <th>Start:</th>
        <td><%= @event.starts_at %></td>
    </tr>
    <tr>
        <th>End:</th>
        <td><%= @event.ends_at %></td>
    </tr>
    <tr>
        <th>All day:</th>
        <td><%= @event.all_day %></td>
    </tr>
    <tr>
        <th>Description:</th>
        <td><%= @event.description %></td>
    </tr>
    <tr>
        <th>Person:</th>
        <td><%= @event.person.full_name if @event.person %></td>
    </tr>
  </table>
</div>

