<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html>
<head>
  <title>fullCalendar on Rails 3.2</title>  
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tag %>  
  
  <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
  <script>
    var all_peoples = $.ajax({
		url: "/people",
		type: "GET",
		dataType: "json"
	})
  </script>
  
</head>
<body>
    <ul id="main_nav">
        <% CalendarController::SOURCES.each do |k,v| %>
            <li>
                <%#= link_to "#{v} - Calendar", calendar_path(k), :class => "#{'active' if @calender_type && @calender_type == k}" %>
                <%= link_to raw("Calender [<em>#{v}</em>]"), calendar_path(k), :class => "#{'active' if @calender_type && @calender_type == k}" %>
            </li>
        <% end %>
        <li><%= link_to 'Events', events_path, :class => "#{'active' if controller_name == 'events'}" %></li>
        <li><%= link_to 'People', people_path, :class => "#{'active' if controller_name == 'people'}" %></li>
    </ul>
    <div class="clearfix"></div>

<%= yield %>

<div id="footer">
    <em>
        example app to compare different versions of <%= link_to "Adam Shaw´s fullCalender", "http://arshaw.com/fullcalendar/", :target => '_blank' %> with focus on multiuser functionality 
    </em>
    <br/><br/>
    changed 2012 by <%= link_to "twetzel", "https://github.com/twetzel/rails3_fullcalendar", :target => '_blank' %>
</div>

</body>
</html>
